body {
	color: blueviolet;
	font-family: Verdana, Arial, Geneva Arial black;
	font-weight: lighter;
	background-color: rgb(250, 209, 133);
}
h1,
h2 {
	border-bottom: 1px solid black;
}
p.para1 {
	color: red;
	font-size: 25px;
}
p.para2 {
	color: green;
	font-size: 25px;
}
p.para3 {
	color: green;
	font-size: 25px;
	font-style: oblique;
}
