body {
	color: blueviolet;
	font-family: Verdana, Arial, Geneva Arial black;
	font-weight: lighter;
	background-color: rgb(250, 209, 133);
	font-size: 25px;
}
h1 {
	border-bottom: 1px solid black;
	font-size: 150%;
	text-align: center;
}
h2 {
	border-bottom: 1px solid black;
	font-size: 1.2em;
	text-align: center;
}
h3 {
	text-decoration: underline;
}

#para1homepage {
	color: red;
}

p.paragraph {
	color: green;

	font-size: 15px;
	line-height: 1.5em;
	background-color: yellowgreen;
	padding: 20px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	background-image: url(giphy1.gif);
	border-bottom-left-radius: 0ch;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-style: dotted;
	border-width: 3px;
	border-color: brown;
}
#para4homepage {
	color: blueviolet;

	font-size: 15px;
	line-height: 1.5em;
	background-color: palegoldenrod;
	padding: 20px;
	border-color: red;
	border-width: 2px;
	border-style: solid;
	margin: 20px;
	margin-top: 50px;
	margin-left: 400px;
	padding-left: 40px;
	padding-right: 40px;
}
img.imegec {
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 3px;
	background-color: silver;
	border-color: black;
	border-width: 2px;
	border-style: solid;
}
#divmain {
	color: black;
}
#divbass {
	color: black;
}
.divcontent {
	color: black;
}
.highlight {
	background-color: yellow;
}
