body {
	color: blueviolet;
	font-family: Verdana, Arial, Geneva Arial black;
	font-weight: lighter;
	background-color: rgb(250, 209, 133);
	font-size: 25px;
}
h1 {
	border-bottom: 1px solid black;
	font-size: 150%;
}
h2 {
	border-bottom: 1px solid black;
	font-size: 1.2em;
}
p.para1 {
	color: red;
}
p.para2 {
	color: green;
}
p.para3 {
	color: green;

	font-style: oblique;
}
