h1 {
	background-color: green;
	color: yellow;
	text-align: center;
	width: 50%;
	margin: 0 auto;
}
div.div1 {
	background-color: red;
	color: aliceblue;
	width: 50%;
	float: left;
}
div.div2 {
	background-color: black;
	color: aliceblue;
	width: 50%;
	float: right;
}
h2 {
	background-color: green;
	color: yellow;
}
p {
	border-color: green;
	border-width: 2px;
	border-style: solid;
}
