div.div1 {
	background-color: red;
	color: white;
	position: fixed;
	left: 10px;
	top: 10px;
}
div.div2 {
	background-color: black;
	color: white;
	position: absolute;
	left: 10px;
	top: 30px;
}
div.div3 {
	background-color: black;
	color: white;
	position: absolute;
	left: 10px;
	top: 60px;
}
div.div4 {
	background-color: black;
	color: white;
	position: absolute;
	left: 10px;
	top: 90px;
}
div.div5 {
	background-color: black;
	color: white;
	position: absolute;
	left: 10px;
	top: 110px;
}
div.div6 {
	background-color: black;
	color: white;
	position: absolute;
	left: 10px;
	top: 130px;
}
