div {
	background-color: yellow;
	padding: 10px;
	border: black 2px solid;
	margin: 25px;
}
div {
	background-color: yellow;
	padding: 10px;
	border: black 2px solid;
	margin: 25px;
}
img.special {
	background-color: yellow;
	padding: 10px;
	border: black 2px solid;
	margin: 25px;
}
span style {
	padding: 10px;
	border: black 2px solid;
	margin: 25px;
