body {
	color: blueviolet;
	font-family: Verdana, Arial, Geneva Arial black;
	font-weight: lighter;
}
h1,
h2 {
	border-bottom: 1px solid black;
}
.red {
	color: red;
	font-size: 25px;
}
p.green {
	color: green;
	font-size: 25px;
}
.underline {
	text-decoration: underline;
}
